# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
        database_host: postgres
        database_port: 5432
        database_name: gentest
        database_user: genuser
        database_password: genpass
        mailer_transport: smtp
        mailer_host: 127.0.0.1
        mailer_user: null
        mailer_password: null
        secret: 6e762ee916995ab73ad4468d4fbca96683e5a4bf

        payment_merchant_id: unicorn
        payment_private_key: 02e2a839-4e5e-43f6-b889-25d154f458cf
        payment_api_endpoint: https://pay.sp-stage.us/api/v1/
        payment_callback_url: https://fuzzy-earwig-34.localtunnel.me/payment/callback

